<div class="container">
  <div class="row">
    <!-- <img class="filter" src="assets/img/money.jpg"
        width="100%" hight="auto"> -->
    <div class="col-lg-6" style="margin-top:50px;">
        <ngb-carousel #carousel>
            <ng-template ngbSlide>
              <a href= "#">
              <img src="assets/img/Trust-fund-baby-800x453.png"
                alt="Random first slide" width="100%" height="auto">
              <div class="carousel-caption">
                <h3>Invest in liquid Funds Redeem in just 30 min.</h3>
                <p>Easy save, Easy withdraw, Anytime, Anywhere...</p>
              </div>
              </a>
            </ng-template>
            <ng-template ngbSlide>
              <a href= "#">
              <img src="assets/img/GettyImages-905343194-2-e1538755491339-800x453.jpg"  
                alt="Random second slide" width="100%" height="auto" >
              <div class="carousel-caption">
                <h3>Invest Anytime, Anywhere...</h3>
                <p>The most convenient way of investing online.</p>
              </div>
              </a>
            </ng-template>
            <ng-template ngbSlide>
             <img src="assets/img/GettyImages-697950138-e1509469476570-800x453.jpg" 
               alt="Random third slide" width="100%" height="auto">
              <div class="carousel-caption">
                <h3>Eco Friendly Investment</h3>
                <p>Say no to boring paper work, now investing just a click away.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/a-no-bs-guide-to-early-retirement.jpg"
                 alt="Random third slide" width="100%" height="auto">
                <div class="carousel-caption">
                  <h3>Invest Family Friendly</h3>
                  <p>A single window to investments of your family.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                  <img src="assets/img/pic-1-800x453.png"
                   alt="Random third slide" width="100%" height="auto">
                  <div class="carousel-caption">
                    <h3>Quality Research & Indepth Reports</h3>
                    <p>The most intensive research on mutual funds, presented in simple manner...</p>
                  </div>
                </ng-template>
        </ngb-carousel>
        <br><br>
        <h4 style="text-align: center; color:gray">Welcome to RARE Financial Advisors</h4>
        <br>
        <h3 style="text-align: center">Your Quick, Hasslefree, Secure and Online 
            Mutual fund Investment platform.</h3>
            <br><br>
        <h4 style="text-align: center; color:gray">What We offer</h4>
        <br>
        <div class="container">
          <div class="col-lg-1 wwo"
          style="position: relative; top:20px; z-index: 1;">
          <img src ="assets/img/dashboard.png">
          <p>Single Dashboard</p>
          </div>
          <div class="col-lg-1 wwo" 
          style="position: relative; top:20px; z-index: 1;">
          <img src ="assets/img/pie-chart.png">
          <p>Detailed Report</p>
          </div>
          <div class="col-lg-1 wwo" 
          style="position: relative; top:20px; z-index: 1;">
          <img src ="assets/img/analytics.png">
          <p>Graphical Analysis</p>
          </div>
          <div class="col-lg-1 wwo" 
          style="position: relative; top:20px; z-index: 1;">
          <img src ="assets/img/eye.png">
          <p>Track Investments</p>
          </div>
          <div class="col-lg-1 wwo" 
          style="position: relative; top:20px; z-index: 1;">
          <img src ="assets/img/notification.png">
          <p>Notify Update</p>
          </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="main">
            <div class="main-login main-center">
            <h4>Sign Up</h4>
              <form class="" method="post" action="#">
                
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Your Name</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                    </div>
                  </div>
                </div>
    
                <div class="form-group">
                  <label for="email" class="cols-sm-2 control-label">Your Email</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                    </div>
                  </div>
                </div>
    
                <div class="form-group">
                  <label for="pan" class="cols-sm-2 control-label">PAN</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="pan" id="pan"  placeholder="Enter your Pan"/>
                    </div>
                  </div>
                </div>
    
                <div class="form-group">
                  <label for="password" class="cols-sm-2 control-label">Password</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                    </div>
                  </div>
                </div>
    
                <div class="form-group">
                  <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                    </div>
                  </div>
                </div>
    
                <div class="form-group">
                    <label for="address" class="cols-sm-2 control-label">Address</label>
                    <div class="cols-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="address" id="address"  placeholder="Enter your Address"/>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                      <label for="bank" class="cols-sm-2 control-label">Bank Name</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                          <input type="password" class="form-control" name="bank" id="bank"  placeholder="Enter your Bank Name"/>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Bank A/C No</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="bankac" id="bankac"  placeholder="Confirm your Bank A/C no"/>
                          </div>
                        </div>
                      </div>

                <div class="form-group ">
                  <a href="#" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>
                </div>
                
              </form>
            </div>
          </div>

    </div>
  </div>
</div>



